<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
</header>

<div id="content">

  <%= content_for :heading if content_for? :heading %>

  <%= flash_messages %>

  <%= yield %>

  <%# debug params if Rails.env.development? %>

</div>

<footer>
</footer>

</body>
</html>
